@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/Kaushan_Script/KaushanScript-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 44px;
  text-align: center;
}


/* Header */


.header {
  padding: 30px 0;
  background-color: rgb(78, 82, 82);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__rsschool {
  width: 100px;
}

.header__list {
  display: flex;
  justify-content: flex-end;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #919695;
  text-decoration: underline;
}


/* Main */


.main {
  position: relative;
}

.main__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 60%;
  left: 0;
  z-index: -1;
  background-color: #919695;
}


/* Profile */


.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.profile__image {
  overflow: hidden;
  border-radius: 50%;
}

.profile__title {
  font-family: "Kaushan Script", cursive;
  font-size: 96px;
}

.main__wrap {
  display: flex;
  flex-wrap: wrap;
}


/* Contacts */


.contacts {
  width: 40%;
  margin-bottom: 40px;
}

.contacts__title {
  color: #ffffff;
}

.contacts__list {
  font-size: 22px;
}

.contacts__item {
  position: relative;
  padding-left: 20px;
}

.contacts__item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #000000;
}

.contacts__item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__link {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.contacts__link:hover {
  color: rgb(78, 82, 82);
}


/* About me */


.about-me {
  width: 60%;
  padding-left: 15px;
}

.about-me__title {
  text-decoration: underline;
}

.about-me__text {
  line-height: 1.5;
}


/* Skills */


.skills {
  width: 40%;
}

.skills__title {
  color: #ffffff;
  text-decoration: underline;
}

.skills__list {
  font-size: 22px;
}

.skills__item {
  position: relative;
  padding-left: 20px;
}
.skills__item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #000000;
}

.skills__item:not(:last-child) {
  margin-bottom: 15px;
}


/* Education */


.education {
  width: 60%;
  padding-left: 15px;
  margin-bottom: 40px;
}

.education__text {
  margin-bottom: 30px;
}

.education__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

.education a {
  color: #000000;
}

.education__link:not(:last-child) {
  display: block;
  margin-bottom: 15px;
}


/* Languages */


.languages {
  width: 40%;
}

.languages__title {
  color: #ffffff;
}

.languages__list {
  font-size: 22px;
}

.languages__item {
  position: relative;
  padding-left: 20px;
}

.languages__item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #000000;
}

.languages__item:not(:last-child) {
  margin-bottom: 15px;
}


/* Code */


.code {
  width: 60%;
  padding-left: 15px;
}

.code__title {
  margin-bottom: 0;
  text-decoration: underline;
}

.code__example {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}


/* Projects */


.projects {
  width: 40%;
  padding-bottom: 50px;
}

.projects__title {
  color: #ffffff;
  text-decoration: underline;
}

.projects__link {
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.projects__link:hover {
  color: rgb(78, 82, 82);
}


/* Footer */


.footer {
  padding: 10px 0;
  background-color: rgb(78, 82, 82);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__github {
  width: 60px;
  font-weight: 700;
  font-size: 24px;
}

.footer__text {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.footer__rsschool {
  width: 100px;
}